.allThumbnail {
	max-width: 15%;
	min-width: 5%;
	max-height: 10%;
	border: 0.2vmin solid #555;
  }

.selectedThumbnail {	
	max-width: 15%;
	min-width: 5%;
	max-height: 10%;
	border: 0.2vmin solid #D00;
	box-shadow: 3px 3px 5px #676464;
	}
	
.focusMainImg {
	max-width: 40%;
	min-width: 10%;
	max-height: 50%;
	border: 0.2vmin solid #555;
	}
	
.AudioPlayer {
	position: center;
	height: 10px;
	border-radius: 2px;
	margin-left: 11%;
	margin-right: 11%;
	}
.AudioPlayer audio {
	position: center;
	width: 100%;
	}