


#div1{
	display: block;
	margin-left:30%;
}
.allThumbnail {
	width: 10%;
	height: 5%;
	border: 2px solid #555;
	margin-bottom: 8px;
	margin-top: 5px;
	margin-left: 5px;
	
  }
  
  .selectedThumbnail {
	
	width: 10%;
	height: 5%;
	border: 2px solid #D00;
	margin-bottom: 8px;
	box-shadow: 3px 3px 5px #676464;
	margin-top: 5px;
	margin-left: 5px;
  }
  
  .focusMainImg {
	margin-left: 30%;
	max-width: 35%;
	max-height: 35%;
  }