
.flex-containerVertical{
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50%;
}

.flex-containerHorizontal{
	max-width: 100%;
	min-width: 70%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin-top: 5px;
}

.flex-containerHorizontal img{
	margin-left: 0.2vmin;
}

.allThumbnail {
	max-width: 15%;
	min-width: 7%;
	max-height: 50%;
	border: 0.2vmin solid #555;
  }

  .selectedThumbnail {	
	max-width: 15%;
	min-width: 7%;
	max-height: 50%;
	border: 0.2vmin solid #D00;
	box-shadow: 3px 3px 5px #676464;
	}
	
  .focusMainImg {
	max-width: 40%;
	min-width: 10%;
	max-height: 100%;
	border: 0.2vmin solid #555;
  }